# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python

# Flask
.webassets-cache

# Database
instance/
*.db
*.sqlite
*.sqlite3

# Environment variables
.env
.venv

# IDE
.vscode/
.idea/
*.swp
*.swo
*~

# OS
.DS_Store
Thumbs.db

